<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <meta charset="UTF-8">
    <title>xMasonV2</title>
</head>
<body onload="bodyLoaded()">
    <div class="row">
        <div id="leftcolumn">
            <label>Wiring scheme:</label><br><br>
            <input type="radio" name="connection" id="parallel_alt" value="parallel_alt" checked="checked">
            <label for="parallel_alt">Alternating parallel</label><br>
            <input type="radio" name="connection" id="parallel" value="parallel">
            <label for="parallel">Parallel</label><br>
            <input type="radio" name="connection" id="series" value="series">
            <label for="series">Series</label><br><br>
            <label>Cross section:</label><br><br>
            <input type="radio" name="cross_section" id="circle" value="circle" checked="checked" onclick="crossSectionPressed(this)">
            <label for="circle">Circle</label><br>
            <input type="radio" name="cross_section" id="square" value="square" onclick="crossSectionPressed(this)">
            <label for="square">Square</label><br>
            <input type="radio" name="cross_section" id="custom" value="custom" onclick="crossSectionPressed(this)">
            <label for="custom">Custom</label><br>
            <label for="cross_section_field" id="cross_section_label">Diameter [mm]:</label>
            <input type="number" id="cross_section_field" class="margin3" min="0" value="10">
            <br><br>
            <label>Frequency band:</label><br>
            <label for="start_freq_field">Start frequency [MHz]:</label>
            <input type="number" id="start_freq_field" class="margin3" min="0" step="0.1" value="1">
            <br>
            <label for="stop_freq_field">Stop frequency [MHz]:</label>
            <input type="number" id="stop_freq_field" class="margin3" min="0" step="0.1" value="50">
            <br><br>
            <input type="button" value="Run simulation" class="margin3 run_button" id="run_simulation_button">
        </div>
        <div id="rightcolumn">
            <br>
            <label style="color: white; font-size: 20px">Transducer stack layout</label><br>
            <div id="transducer_stack">
            </div>
            <br>
            <div style="background-color: lightgrey;">
                <label>Add new layer to stack:</label><br>
                <div id="add_layer">
                    <input type="button" value="+" class="margin3 dark_button" id="add_layer_button"
                           style="height: 32px; width: 32px; font-size: 25px">
                    <label for="material_selector">Material:</label>
                    <select id="material_selector" class="margin3">
                       <option value="" disabled selected>Select a material</option>
                    </select>
                    <label for="thickness_text">Thickness:</label>
                    <input type="number" id="thickness_text" class="margin3" min="0">
                    <select id="unit_selector" class="margin3">
                       <option value="mm">mm</option>
                       <option value="um" selected="selected">μm</option>
                       <option value="nm">nm</option>
                    </select>
                </div>
            </div>
            <br>
{#            <img src="shish.jpg" alt="Simulation running..." id="result_image">#}
        </div>
    </div>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'home.js') }}" ></script>
</body>
</html>